@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700')
$font-stack: 'Zilla Slab', sans-serif

$font-med: 1.4rem
$font-large: 2rem

$light: 300
$regular: 400
$semibold: 500
$bold: 600